.hero
    background: url('/img/hero/hero-bg.jpg')
    background-size: cover
    background-position: 50% 0
    &-block
        display: flex
        flex-direction: column
    &-navbar
        display: flex
        align-items: center
        justify-content: space-around
        &__logo
            margin-right: auto
            margin-left: 0
            margin-top: 19px
    &-contacts
        display: flex
        flex-direction: column 
        color: $text-color  
        &__subtitle
            font-size: 14px
            +reg
            margin-bottom: 10px
        &__phone
            text-decoration: none
            color: $text-color
            font-size: 20px
            +bold
    &-main
        display: flex
        flex-direction: column
        align-items: center
        color: $text-color
        &__title
            +med
            text-transform: uppercase
            font-size: 60px
            margin-top: 180px
            margin-bottom: 45px
            text-align: center
        &__subtitle
            +reg
            font-size: 20px
            text-transform: uppercase
            margin-bottom: 14px
        &__description
            +reg
            font-size: 16px
            margin-bottom: 100px
        &__button
            margin-bottom: 125px
            +bold
    &-icons
        display: flex
        align-items: center
        justify-content: center 
        margin-bottom: 40px
        &__vk
            display: flex
            border: 1px solid #ffffff
            border-radius: 50%
            margin-right: 10px
            // padding: 10px
            width: 26px
            height: 26px
            justify-content: center
            align-items: center
        &__fb
            display: flex
            border: 1px solid #ffffff
            border-radius: 50%
            margin-right: 10px
            // padding: 10px
            width: 26px
            height: 26px
            justify-content: center
            align-items: center
        &__inst
            display: flex
            border: 1px solid #ffffff
            border-radius: 50%
            margin-right: 10px
            // padding: 10px
            width: 26px
            height: 26px
            justify-content: center
            align-items: center